<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Tenders</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .error-msg {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Search Tenders</h1>
        <a href="{{ url_for('tenders') }}" class="btn btn-secondary">Go to Main Page</a><br>
        <strong class="error-msg">{{ msg }}</strong>
        <form action="{{ url_for('search_tenders') }}" method="POST">
            <div class="form-group">
                <label for="tender_id">Select Tender ID:</label>
                <input type="text" class="form-control" id="tender_id" name="tender_id" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
